body{
    background-image:url(vignan1.jpeg);
    background-position: cenetr;
    background-size: cover;
    background-repeat: no-repeat; 
    background-position: horizontal;
}
nav{
    background-color: #edf1e8;
    color: #df110a;
    padding: 15px;
}
nav ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
}
nav ul li{
    display: inline;
    margin-right: 20px;
    text-align: center;        
}
nav ul li a{
    text-decoration: none;
}
nav ul li a:hover{
    text-decoration: underline;
}
section{
    padding: 20px;
}
footer{
    background-color: #8ee42c;
    text-align:center;
    margin-top: 310;
    padding: 5px 0;
}